.mainNav {
  button {
    font-size: large;
  }

  .nav {
    flex: 2;
        text-align: center;
  }

  .avatar {
    flex: 1;
    text-align: end;
  }

  .logo {
    img {
      height: 50px;
      width: 65px;
    }

    flex: 1;

  }

  text-align: start;
  display: flex;

}




mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  position: sticky;
  position: -webkit-sticky;
  /* For macOS/iOS Safari */
  top: 0;
  /* Sets the sticky toolbar to be on top */
  z-index: 1000;
  /* Ensure that your app's content doesn't overlap the toolbar */
}
