.timetable {
  flex: 1;
  flex-wrap: wrap;
  .available-time {
    border: 1px black solid;
    display: block;
  }
  .timeslot {
    display: block;
  }
  .student-slot {
    border-top: 1px black dotted;
  }
  .icsButton {
    width: 80%;
  }
}
.timetable-grid {
  display: flex;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  width: 95vw;
}
.period {
  text-align: start;
}
:host {
  text-align: start;
}
.mat-card-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  mat-card {
    flex-shrink: 1;
    margin: 10px;
  }
}
.meeting-period {
  margin: 0 auto;
  text-align: center;
}
mat-chip-list {
  .active {
    background-color: #00C853;
  }
  .expired {
    background-color: #fdd835;
  }
  display: inline-block;
}
