<div style="display: inline;">
  <h1 class="mat-h1" style="text-align: center;">
    Timetable
  </h1>
  <button color="primary" [routerLink]="['/timeslot']" mat-button>
    Create Timeslot
  </button>
  <button mat-button color="warn">Delete timeslot</button>
</div>

  <div *ngIf="timeslots.length > 0; else noData;" class="timetable-grid">
    <div class="timetable" *ngFor="let ts of timeslots; let i = index">
      <div class="available-time">
        <h4>{{ ts.day }}</h4>
        <div class="timeslot">
          <h5>{{ ts.startTime }}</h5>
          <h5>{{ ts.endTime }}</h5>
        </div>
        <div class="student-slot">
          <h5 *ngIf="ts.bookedBy.displayName === null; else bookedBy">Not Booked</h5>
          <ng-template #bookedBy>
            <h5>{{ ts.bookedBy.displayName }}</h5>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <h1 class="mat-h1" style="text-align: center; padding-top: 10px;">Students not booked</h1>
  <div *ngIf="students; else noData;" class="mat-card-list">
    <mat-card color="accent" *ngFor="let student of studentsNotBooked">
      <mat-card-header>
        <mat-card-title> {{ student.displayName }}</mat-card-title>
        <mat-card-subtitle> {{ student.email }} </mat-card-subtitle>
      </mat-card-header>
      <a href="mailto:{{ student.email }}?subject=Timeslot booking reminder"
        >Remind</a
      >
    </mat-card>
  </div>

<attendance-button></attendance-button>

<ng-template #noData>
  <mat-card>
  <mat-icon>info</mat-icon>
  My my such empty, please create a new schedule.
  </mat-card>
</ng-template>
