.timetable{
  flex-grow: 1;
  flex-wrap: wrap;
  .available-time{
    border: 1px black solid;
    display: block;
  }
  .timeslot{
    display: block;
  }
  .student-slot{
    border-top: 1px black dotted;
  }
}
.grid{
  display: inline-flex;
      width: 100%;
      text-align: center;
        margin: 0 auto;
        width: 90%;
}

:host{
  text-align: start;
}
