table {
  width: 100%;
  text-align: left;
  td,
  th {
    font-size: 14px;
    width: 25%;
    padding: 10px;
  }

}

.mat-elevation-z8{
  margin: 0 auto;
  width: 80%;
}

.field{
  margin: 10px;
  .projectTitleInput {
    width: 300px;
  }
}

mat-icon{
  font-size: 36px;
}
