<h1 class="mat-h1">Student</h1>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{ row.displayName }}</td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <!-- projectTitle Column -->
    <ng-container matColumnDef="projectTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Title</th>
      <td mat-cell *matCellDef="let row">{{ row.projectTitle }}</td>
    </ng-container>

    <!-- Course Column -->
    <ng-container matColumnDef="course">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Course</th>
      <td mat-cell *matCellDef="let row">{{ row.course }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="removeStudent(row)" mat-icon-button>
          <mat-icon>remove_circle</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <form [formGroup]="studentsForm">
    <h1 class="mat-h1" style="margin: 10px;">Add students</h1>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let student of filteredStudents" [value]="student">
          <span>{{ student.displayName }}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>

    <mat-form-field appearance="outline" style="width: 300px; padding: 10px;">
      <input
        aria-label="Student Detail"
        matInput
        placeholder="Choose a student"
        [matAutocomplete]="auto"
        formControlName="userInput"
        (change)="setSelectedStudent()"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 300px; padding: 10px;">
      <input
        aria-label="Project Title"
        class="projectTitleInput"
        matInput
        placeholder="Title"
        formControlName="projectTitleInput"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <input
        type="text"
        placeholder="Course"
        aria-label="Course"
        formControlName="courseInput"
        matInput
        [matAutocomplete]="autoTwo"
        required
      />
      <mat-autocomplete #autoTwo="matAutocomplete">
        <mat-option *ngFor="let course of courses" [value]="course">
          {{ course }}
        </mat-option>
      </mat-autocomplete>
      <mat-label>Course</mat-label>
    </mat-form-field>

    <button mat-icon-button style="font-size: 24px;" (click)="addStudent()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </form>
</div>
