<mat-toolbar color="accent">
  <mat-toolbar-row class="mainNav">
    <div class="logo" [routerLink]="['/dashboard']">
      <img src="assets/logo/jackal2.png" />
      <span>JackalTrack</span>
    </div>
    <mat-chip-list> <mat-chip color="primary" selected>Beta</mat-chip> </mat-chip-list>

    <div class="nav" *ngIf="authService.isAuth">
      <mat-menu #appProgress="matMenu">
        <button mat-menu-item [routerLink]="['progress/attendance']">Attendance</button>
        <button mat-menu-item [routerLink]="['progress/milestone']">Milestones</button>
        <button mat-menu-item [routerLink]="['progress/chapter']">Chapters</button>
      </mat-menu>

      <mat-menu #appMeeting="matMenu">
        <button *ngIf="isSupervisor" mat-menu-item [routerLink]="['meeting/timetable']">Timetable</button>
        <button mat-menu-item [routerLink]="['/meeting/timeslots/booking']">
          Timeslot Booking
        </button>
        <button *ngIf="isSupervisor" mat-menu-item [routerLink]="['/meeting/notes']">Notes</button>
        <button *ngIf="!isSupervisor" mat-menu-item [routerLink]="['/meeting/student/notes']">Notes</button>
      </mat-menu>

      <!-- <button mat-button matBadge="0">Actions</button> -->

      <button mat-button [matMenuTriggerFor]="appMeeting">
        Meetings
      </button>

      <button *ngIf="isSupervisor" mat-button [matMenuTriggerFor]="appProgress">
        Progress
      </button>

      <button *ngIf="isSupervisor" [routerLink]="['/student']" mat-button>
        Students
      </button>
    </div>

    <div *ngIf="authService.isAuth" class="avatar">
      <span> Hi {{ authService.user?.displayName }}!</span>

      <mat-menu #appAvatar="matMenu">
        <div style="margin: 5px;">
          <p class="mat-h4" *ngIf="authService.isAuth">{{ authService.user?.mail }}</p>
          <p class="mat-h4" *ngIf="authService.isAuth">Role : {{ authService.user?.jobTitle }}</p>
        </div>

        <mat-divider></mat-divider>
        <button (click)="signOut()" mat-menu-item>Logout</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appAvatar">
        <mat-icon style="font-size: 36px !important">account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-progress-bar *ngIf="!authService.isTokenReady" color="warn" mode="indeterminate"></mat-progress-bar>
</mat-toolbar>
