 .disable-hover {
   pointer-events: none;
 }
 mwl-calendar-week-view {
   @import "~bootstrap/dist/css/bootstrap-reboot.css";
   @import "~angular-calendar/css/angular-calendar.css";
  }
section{
  margin: 0 auto;
  user-select: none;}

.mat-elevation-z8 {
  margin: 0 auto;
  width: 80%;
}
mat-form-field{
  padding: 10px;
}
