table {
  width: 100%;
  text-align: left;
}


td,
th {
  font-size: 14px;
  width: 25%;
}

.mat-elevation-z8{
  margin: 0 auto;
  width: 80%;
}

.field{
  padding: 10px;
}

mat-icon{
  font-size: 36px;
}
